<section class="page__share">
  {% if site.data.ui-text[site.locale].share_on_label %}
    <h4 class="page__share-title">{{ site.data.ui-text[site.locale].share_on_label | default: "Share on" }}</h4>
  {% endif %}
  <script src="https://unpkg.com/ilyabirman-likely@2/release/likely.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/ilyabirman-likely@2/release/likely.css">

  <div class="likely likely-light likely-big">
    <div class="twitter" data-via="snupt" data-title="{{ page.title }}">Твитнуть</div>
    <div class="facebook" data-title="{{ page.title }}">Поделиться</div>
    <div class="vkontakte" data-title="{{ page.title }}">Поделиться</div>
    <div class="telegram" data-title="{{ page.title }}">Отправить</div>
  </div>
</section>
