---
# Only the main Sass file needs front matter (the dashes are enough)
---

$github-color: #fff !default;
$twitter-color: #fff !default;
$instagram-color: #fff !default;

$primary-color: #45a48b !default;
$link-color: #4dcda7 !default;

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

/* .pagination li a.current, .pagination li a.current.disabled {
  color: $background-color;
}

.toc .nav__title {
  color: $background-color;
}

.navicon:before, .navicon:after {
  background: $background-color;
}

.navicon {
  background: $background-color;
}
 */