---
# Only the main Sass file needs front matter (the dashes are enough)
---

$primary-color: #45a48b !default;
$link-color: #4dcda7 !default;

$base00: #1d1f21 !default;
$base01: #282a2e !default;
$base02: #373b41 !default;
$base03: #969896 !default;
$base04: #b4b7b4 !default;
$base05: #c5c8c6 !default;
$base06: #e0e0e0 !default;
$base07: #ffffff !default;
$base08: #cc6666 !default;
$base09: #de935f !default;
$base0a: #f0c674 !default;
$base0b: #b5bd68 !default;
$base0c: #8abeb7 !default;
$base0d: #81a2be !default;
$base0e: #b294bb !default;
$base0f: #a3685a !default;

// $base00: #263238 !default;
// $base01: #2e3c43 !default;
// $base02: #314549 !default;
// $base03: #546e7a !default;
// $base04: #b2ccd6 !default;
// $base05: #eeffff !default;
// $base06: #eeffff !default;
// $base07: #ffffff !default;
// $base08: #f07178 !default;
// $base09: #f78c6c !default;
// $base0a: #ffcb6b !default;
// $base0b: #c3e88d !default;
// $base0c: #89ddff !default;
// $base0d: #82aaff !default;
// $base0e: #c792ea !default;
// $base0f: #ff5370 !default;

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.page__content p {
  margin: 1em 0 1em;
}

div.highlighter-rouge, figure.highlight {
  margin-bottom: 2em;
}
