---
# Only the main Sass file needs front matter (the dashes are enough)
---

$github-color: #ffffff !default;
$twitter-color: #ffffff !default;
$instagram-color: #ffffff !default;
$primary-color: #45a48b !default;
$text-color: #eaeaea !default;
$link-color: #4dcda7 !default;

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
